* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, white 5%, black 50%)
}

.ball-ish{
  position: absolute;
  left: 45vw;
  top: 45vh;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background-image: linear-gradient(
    -45deg,
    rgb(108, 196, 223),
    rgb(9, 69, 87)
    );

    /* Can have animations in order separated by commas */
  /* animation: rotation-wide ease-in 2s forwards,
    rotation-mid linear 1s 2s forwards,
    rotation-close linear 900ms 3s forwards,
    shrink  500ms 3900ms forwards; */

    /* A lot of extra work though when can be
    a single animations - neater transistion-function */
    animation: centrifuge-single cubic-bezier(1,-0.04, 1, 1) 4s forwards,
              shrink  500ms 3900ms forwards;
}


@keyframes centrifuge-single {
	0% {
		transform: rotate(0deg)
		           translate(30vw);
	}
	100% {
		transform: rotate(1420deg)
		           translate(0vw);
  }
}


@keyframes rotation-wide {
	0% {
		transform: rotate(0deg)
		           translate(25vw);
	}
	100% {
		transform: rotate(360deg)
		           translate(15vw);
  }
}

@keyframes rotation-mid {
	0% {
		transform: rotate(0deg)
		           translate(15vw);
	}
	100% {
		transform: rotate(360deg)
		           translate(10vw);
  }
}

@keyframes rotation-close {
	0% {
		transform: rotate(0deg)
		           translate(10vw);
	}
	100% {
		transform: rotate(360deg)
		           translate(0vw);
  }
}

@keyframes shrink {
	100% {
    transform: scale(0);
  }
}
